* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
nav,
article,
aside,
footer {
  border: 1px solid gray;
  padding: 10px;
}

body {
  background-color: rgb(6, 122, 112);
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
  margin: auto;
  max-width: 900px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 20vh 1fr 20vh;
  grid-template-areas:
    "h h h"
    "n n n"
    "j a b"
    "f f f";
}

nav {
  grid-area: n;
}
header {
  grid-area: h;
}
article {
  grid-area: a;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}
aside#jobb {
  grid-area: j;
}
aside#bal {
  grid-area: b;
}
footer {
  grid-area: f;
}
#1 {
  grid-area: 1;
}
#2 {
  grid-area: 2;
}
#3 {
  grid-area: 3;
}
#4 {
  grid-area: 4;
}
#5 {
  grid-area: 5;
}
#6 {
  grid-area: 6;
}
#kep1 {
  grid-area: kep1;
}
#kep2 {
  grid-area: kep2;
}
#kep3 {
  grid-area: kep3;
}
#kep4 {
  grid-area: kep4;
}
article img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "1  2  3";
}
@media screen and (max-width: 700px) {
  body {
    margin: auto;
    width: 100%;
    font-size: 5vw;
  }
  main {
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "h h h"
      "n n n"
      "a a j"
      "b b b"
      "f f f";
  }
  nav ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "1"
      "2"
      "3";
  }
  article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "4 5"
      "6 6";
  }
  #6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "kep1 kep2"
      "kep3 kep4";
  }

}

@media screen and (max-width: 400px) {
  body {
    margin: auto;
    width: 100%;
    font-size: 5vw;
  }
  main {
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "h h h"
      "n n n"
      "a a a"
      "j j j"
      "b b b"
      "f f f";
  }
  nav ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "1"
      "2"
      "3";
  }
  article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "4"
      "5"
      "6";
  }
}
