* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
nav,
article,
aside,
footer {
  border: 1px solid gray;
  padding: 10px;
}

body {
  background-color: rgb(6, 122, 112);
  width: 90%;
  max-width: 800px;
  margin: auto;
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
  background-image: url(wp7524431.jpg);
  display: grid;
  grid-template-columns: 100px 3f 1fr;
  grid-template-areas:
    "h h h h h"
    "n n n n n"
    "b a a a j"
    "f f f f f";
}

header {
  grid-area: h;
}
nav {
  grid-area: n;
}
nav ul {
  display: grid;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 20px;
  border: 0px solid white;
  margin: 20px;
  border-radius: 15px;
  gap: 10px;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-area: a;
}

article img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.sor {
  margin: 2px;
}
footer {
  grid-area: f;
}

aside#bal {
  grid-area: b;
}

aside#jobb {
  grid-area: j;
}

@media screen and (max-width: 700px) {
  body {
    width: 100%;
    font-size: 5vw;
  }
  main {
    grid-template-columns: 2fr 1f;
    grid-template-areas:
      "h h"
      "n n"
      "a a"
      "j j"
      "b b"
      "f f";
  }
}

@media screen and (max-width: 400px) {
  body {
    width: 100%;
    font-size: 5vw;
  }
  main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "h"
      "n"
      "a"
      "j"
      "b"
      "f";
  }
}
